{% extends 'base.html' %}
{% block body %}
    <br><br><br>
    <a href="{{ url_for('main') }}" class="link-dark" style="padding-left: 20px; text-decoration: none">←More
        adverts</a>
    {% if current_user.is_authenticated and current_user.id == advert.user_id %}
        <span style="padding-left: 70%">
        <a href="{{ url_for('edit_advert', page_id=advert.id) }}" class="btn btn-light">Edit</a>
        <button class="btn btn-danger" onclick="checkDeleteAdvert({{ advert.id }})">Delete</button>
    </span>
    {% endif %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6" style="overflow: hidden; width: 40%; padding-left: 10%;">
                <img src="{{ advert.image_url }}"
                     alt="{{ advert.title }}"
                     style="width: 100%; height: 100%; object-fit: cover; margin: 10px">
            </div>
            <div class="col-sm-6" style="padding-left: 5%">
                <h1>{{ advert.title }}</h1>
                <div class="row">
                    <div class="col-sm-4"><h4>{{ advert.cost }} rub</h4></div>
                    <div class="col-sm-8"><span style="white-space: nowrap">Category: {{ advert.category }}</span></div>
                </div>
                <br>

                {% if advert.is_active %}
                    <button class="btn btn-lg btn-dark" style="width: 100px" data-bs-toggle="modal"
                            data-bs-target="#buy_modal">Buy
                    </button>

                    {% if not in_cart %}
                        <button class="btn btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#cart_modal">
                            Add to cart
                        </button>
                    {% endif %}

                    {% if not in_favorite %}
                        <button class="btn btn-lg btn-light" data-bs-toggle="modal" data-bs-target="#favorite_modal">
                            Add to favorite
                        </button>
                    {% endif %}
                {% endif %}

                <br><br>
                <h5>Description</h5>
                <p>{{ advert.description }}</p>
                <br>
                <p>Owner: {{ owner }}</p>
            </div>
        </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="buy_modal" tabindex="-1" aria-labelledby="buy_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="buy_modal_label">Making an order</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Would you like to make an order?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cart_modal" tabindex="-1" aria-labelledby="cart_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cart_modal_label">Add to cart</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Would you like to add an advert to the cart?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <a href="{{ url_for('add_to_cart', page_id=advert.id) }}" class="btn btn-success">
                        Confirm
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="favorite_modal" tabindex="-1" aria-labelledby="favorite_modal_label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="favorite_modal_label">Making an order</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Would you like to add an advert to your favorites?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <a href="{{ url_for('add_to_favorites', page_id=advert.id) }}" class="btn btn-success">
                        Confirm
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

