{% extends 'form.html' %}

{% block form %}
    <br>
    <h2>Edit advert</h2>
    <br>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            <br>
        {% endif %}
    {% endwith %}

    <form action="" method="post">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ title }}" required="required">
        </div>
        <br>
        <div class="form-group">
            <label for="desc">Description:</label>
            <textarea class="form-control" rows="6" name="desc" id="desc"
                      required="required">{{ description }}</textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="cat">Category:</label>
            <select id="cat" name="cat" class="form-control" required="required">
                {% for cat in categories %}
                    {% if cat == category %}
                        <option value="{{ cat }}" selected>{{ cat }}</option>
                    {% else %}
                        <option value="{{ cat }}">{{ cat }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="cost">Cost:</label>
            <input type="number" step="0.01" min="0" class="form-control" name="cost" id="cost"
                   value="{{ cost }}" required="required">
        </div>
        <br>
        <div class="form-group">
            <label for="img_url">Image url:</label>
            <input type="url" class="form-control" name="img_url" id="img_url" value="{{ image_url }}">
        </div>

        <br>
        <center>
            <span>
                <button type="submit" class="btn btn-success" style="width: 20%">Submit</button>
                <a href="{{ url_for('advert', page_id=id) }}" class="btn"
                   style="width: 20%; background-color: lightgray">Cancel</a>
            </span>
        </center>
    </form>
{% endblock %}