{% extends "base.html" %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Adverts</h1>
                <p class="lead text-muted">All the adverts are collected here. Do you want to find something specific?
                    Use the search or choose a category</p>
                <form role="search" method="get">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search"
                           value="{{ search }}">
                </form>
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for advert in adverts %}
                    <div class="col">
                        <a href="{{ url_for('advert', page_id=advert.id) }}" class="link-dark"
                           style="text-decoration: none;">
                            <div class="card shadow-sm">
                                <div style="overflow: hidden; height: 300px;">
                                    <img src="{{ advert.image_url }}" class="card-img-top"
                                         alt="{{ advert.title }}"
                                         style="width: 100%; height: 100%; object-fit: cover">
                                </div>
                                <div class="card-body" style="background-color: floralwhite">
                                    <p class="card-text">{{ advert.title }}</p>
                                    <p class="card-text">{{ advert.cost }}</p>
                                    <p class="card-text"><small>{{ advert.description|truncate(50) }}</small></p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
