{% extends 'base.html' %}

{% block body %}
    <br><br><br>
    <a href="{{ url_for('profile') }}" class="link-dark" style="padding-left: 20px; text-decoration: none">
        ←Back to profile
    </a>
    <br>
    <div class="container">
        <center>
            <h3>Orders history</h3>
            <div class="card" style="width: 24rem;">
                <ul class="list-group list-group-flush">
                    {% for order in orders %}
                        <a href="{{ url_for('order_page', page_id=order.id) }}" class="link-dark"
                           style="text-decoration: none">
                            <li class="list-group-item">
                                Order created on {{ order.created_date }}
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </center>
    </div>
{% endblock %}